@{
    ViewBag.Title = "Home Page";
}

<br />

<style>
    .homeItem {
        margin-top: 100px;
        border: 4px solid;
        border-radius: 20px;
        margin-left: 45px;
        margin-right: 45px;
        font-size: 220px;
        background-color: #f5e9c9;
    }

    .homeItem :hover {
        font-size: 240px;
    }
</style>

<div class="row">
    <a href="/Catalog/Index">
        <div class="col-md-3 homeItem" style="color:springgreen; ">
            <i class="fa fa-book fa-10x" aria-hidden="true"></i>
            <h3 style="font-size:40px">Catalogs</h3>
        </div>
    </a>
    <a href="/Order/Index">
        <div class="col-md-3 homeItem" style="color: mediumvioletred;">
            <i class="fa fa-truck fa-10x" aria-hidden="true"></i>
            <h3 style="font-size:40px">Orders</h3>
        </div>
    </a>
    <a href="/Cart/Index">
        <div class="col-md-3 homeItem" style="color:aqua;">
            <i class="fa fa-bar-chart fa-10x" aria-hidden="true"></i>
            <h3 style="font-size:40px">Analytics</h3>
        </div>
    </a>
</div>


